body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8B51EF;
}

body > div{
    background-color: #4f4f4f;
    padding: 12px;
    border-radius: 10px;
    min-height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#timeFunction{
    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
    text-align: center;
    border: 1px solid white;
    color: white;
}

option{
    background-color: #4f4f4f;
    color: white;
    font-size: 18px;
}

#stopwatch{
    font-size: 24px;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#stopwatchTimer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid #8B51EF;
    margin-bottom: 20px;
}

#buttons{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

#buttons button{
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#countdown{
    font-size: 24px;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

#countdown div:first-child{
    padding: 10px;
    display: flex;
    width: 250px;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
    border: 4px solid #8B51EF;
    margin-bottom: 20px;
}

#countdownTimer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid #8B51EF;
    margin-bottom: 20px;
}

#countdown input{
    width: 30%;
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

#countdown div:last-child{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#countdown button{
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none !important;
}
